.hover {
  cursor: pointer;
}

.submit {
  background-color: orange;
  border-color: orange;
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  text-shadow: 0 0 10px white;
}

.error {
  color: red;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 3px;
  background-color: red;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.close:hover {
  box-shadow: 0 0 10px red;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  scroll-margin: 5px 5px 5px 5px;
}

::-webkit-scrollbar-track {
  background: #4c4b4b0d;
  border-radius: 5px;
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background: #a5a4a4;
  border-radius: 5px;
}
